/* COLOR SCHEME
Headings - #000
Background - #efefef
Body Text - #222
Yellow - #FCA311
Blue - #023FA2
Darker Blue - #011F51
*/

/* make scrollbar appear under navbar */
.content-wrapper {
  height: calc(100vh - 61px);
  overflow-y: scroll;
}

body {
  overflow: hidden;
}

.content {
  width: 60%;
  margin: auto;
}

p {
  padding-bottom: 18px;
  color: #222;
}

h3 {
  text-align: center;
  padding: 20px;
}

ul {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  color: #222;
  list-style-position: inside;
  overflow: hidden;
}

ul li {
  padding-bottom: 5px;
}

/* INTRO SECTION */
.intro img {
  width: 170px;
  border-radius: 50%;
  margin: 10px 40px 10px 10px;
  float: left;
  display: inline-block;
}

.intro p{
  width: 60%;
  margin: 0px;
  padding-top: 5px;
}

.intro {
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro::after {
  content: " ";
  clear: both;
  display: table;
}

.resume {
  padding: 10px;
  text-align: center;
  background-color: #023FA2;
  color: white;
  font-family: "Poppins", sans-serif;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.resume:hover {
  background-color: #011F51;
  cursor: pointer;
}

/* EXPERIENCE SECTION */
.experience {
  margin-bottom: 30px;
}

.experience h3 {
  text-align: left;
  font-size: 18px;
  padding: 0px;
  color: #000;
}

.experience h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 2px;
}

.experience h4 a {
  text-decoration: none;
}

.experience h4 a:hover {
  text-decoration: underline;
  font-style: normal;
}

.experience h5{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  padding-bottom: 18px;
  margin: 0px;
}
