/* COLOR SCHEME
Headings - #000
Background - #efefef
Body Text - #222
Yellow - #FCA311
Blue - #023FA2
Darker Blue - #011F51
*/

/* make scrollbar appear under navbar */
.content-wrapper {
  height: calc(100vh - 61px);
  overflow-y: scroll;
}

body {
  overflow: hidden;
}

/* mobile */

.content {
  width: 80%;
  margin: auto;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  padding-bottom: 16px;
  color: #222;
}

h3 {
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

ul {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  color: #222;
  list-style-position: inside;
  overflow: hidden;
}

ul li {
  padding-bottom: 5px;
}

/* desktop and tablets */
@media (min-width: 768px){
  .content {
    width: 60%;
  }

  p {
    font-size: 18px;
    padding-bottom: 18px;
  }

  h3 {
    font-size: 36px;
  }

  ul {
    font-size: 18px;
  }
}

/* INTRO SECTION */
/* mobile */
.intro img {
  width: 170px;
  border-radius: 50%;
  margin: 0px auto;
  margin-bottom: 25px;
  display: block;
}

.intro p{
  width: 80%;
  margin: 0px auto;
  padding: 0px;
  margin-bottom: 20px;
}

.intro::after {
  content: " ";
  clear: both;
  display: table;
}

.resume {
  padding: 10px;
  text-align: center;
  background-color: #023FA2;
  color: white;
  font-family: "Poppins", sans-serif;
  border: 0px;
  border-radius: 5px;
  display: block;
  margin: 0 auto 35px auto;
}

.resume:hover {
  background-color: #011F51;
  cursor: pointer;
}

/* desktop and tablets */
@media (min-width: 768px){
  .intro img {
    margin: 10px 40px 10px 10px;
    float: left;
    display: inline-block;
  }

  .intro p{
    width: 60%;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .intro {
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .intro::after {
    content: " ";
    clear: both;
    display: table;
  }
}

/* EXPERIENCE SECTION */
/* mobile */
.experience {
  margin-bottom: 25px;
}

.experience h3 {
  text-align: left;
  font-size: 16px;
  padding: 0px;
  color: #000;
}

.experience h4 {
  font-size: 13px;
  font-weight: normal;
  padding-bottom: 2px;
}

.experience h4 a {
  text-decoration: none;
}

.experience h4 a:hover {
  text-decoration: underline;
  font-style: normal;
}

.experience h5 {
  font-size: 13px;
  font-style: italic;
  font-weight: normal;
  padding-bottom: 12px;
  margin: 0px;
}

/* desktop and tablets */
@media (min-width: 768px){
  .experience {
    margin-bottom: 30px;
  }

  .experience h3 {
    font-size: 18px;
  }

  .experience h4 {
    font-size: 14px;
  }

  .experience h5 {
    font-size: 14px;
    padding-bottom: 18px;
  }
}
