/* COLOR SCHEME
Headings - #000
Background - #efefef
Body Text - #222
Yellow - #FCA311
Blue - #023FA2
Darker Blue - #011F51
*/

/* background image */
html {
  background: url(./bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  user-select: none;
  pointer-events: none;
}

body {
user-select: auto;
pointer-events: auto;
}

/* PAGE-SPECIFIC CSS */
.name {
  position: fixed;
  left: 10%;
  top: 37%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 25px;
}

ul.social{
  padding: 0px 20px;
  margin: 10px 0px;
  float: left;
}
.social li{
  font-size: calc(20px + 0.5vw);;
  display: inline-block;
}

.fa {
  padding: 10px;
  text-align: center;
  color: #011F51;
}

.fa:hover {
  color: #FCA311;
  cursor: pointer;
}

/* Position text properly */
h1 {
  font-size: calc(52px + 1vw);
  padding: 0px 20px;
}

h4 {
  font-size: calc(20px + 0.5vw);
  padding-left: 22px;
  font-style: italic;
}

h5 {
  padding: 0px;
  padding-bottom: 5px;
}
