/* COLOR SCHEME
Headings - #000
Background - #efefef
Body Text - #222
Yellow - #FCA311
Blue - #023FA2
Darker Blue - #011F51
*/

/* NAVBAR */
nav {
  overflow: hidden;
  background-color: #FFF;
}

nav a {
  text-align: center;
  padding: 18px 22px;
  text-decoration: none;
  font-family: "Poppins", serif;
  font-size: 16px;
}


nav div {
  float: right;
}

nav a:hover{
  color: #FCA311;
  font-style: normal;
}

nav a.active {
  color: #023FA2;
}

nav a.active:hover {
  color: #011F51;
}

nav .fa {
  padding: 0px;
}

#home {
  float: left;
  padding-left: 25px;
}

/* mobile nav */
#nav_elems a {
  visibility: hidden;
  padding: 0px 22px 0px 25px;
  font-size: 0px;
}

nav .icon {
  float: right;
  display: block;
}

/*responsive class makes links switch to vertical instead of horizontal*/
#nav_elems.responsive {
  width: 100%;
}

#nav_elems.responsive a {
  float: none;
  display: block;
  visibility: visible;
  text-align: left;
  
  /* for animated mobile expand */
  padding: 18px 22px;
  padding-left: 25px;
  font-size: 16px;
  transition: padding 0.5s;
}

/* desktop nav */
@media (min-width: 768px) {
  nav a {
    visibility: visible !important;
    padding: 18px 22px !important;
    font-size: 16px !important;
    display: inline-block !important;
  }

  nav .icon {
    display: none !important;
  }
}

/* GENERAL CSS */
html, body {
  background-color: #fafafa;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: underline;
  color: black;
}

a:hover {
  font-style: italic;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  padding-bottom: 10px;
}

h1 {
  font-family: "Poppins", serif;
  margin: 0px;
}

h3 {
  font-family: "Poppins", serif;
  font-size: 36px;
  margin: 0px;
}

h4 {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
}

h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 0px;
}
